In [1]:
import pandas as pd
import glob

In [63]:
# Quick and Dirty
arr = []
for filename in glob.iglob('/Users/kaicheung/Downloads/Copy of Mercari Annotated Results*.csv'):
    total = 1000
    cat = filename.split('-')[3].replace('.csv',"").replace(" ","")
    data = pd.read_csv(filename)
    precision = (float(data[data.cbrand_match_0 == True].brand.count())/data[data.cbrand_match_0.notnull()].brand.count()) * 100
    recall = (float(data[data.cbrand_match_0 == True].brand.count())/data[data.cbrand_match_0.notnull()].cbrand_match_0.count()) *100
    arr.append((cat,precision,recall))

In [64]:
pd.DataFrame(arr,columns=('category','precision','recall'))

   category  precision     recall
0    beauty  35.438596  12.212817
1  handmade   0.000000   0.000000
2      home  39.743590  14.993954
3      kids  12.623762   6.174334
4       men   4.788214   3.147700
5     other  43.373494   4.358354
6    sports  30.222222   8.232446
7      tech  31.132075   7.990315
8   vintage  24.842767   9.564165
9     women   6.300813   3.743961

In [ ]:
# Next step is to sample the ones that are False and see if its our data error